.email-container {
    width: 100%;
   
    width:90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
.email-header {
    font-weight: bold;
    margin-bottom: 10px;
}
.email-body {
    color: #555;
}
.email-body p {
    margin: 0;
}